<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="css/stylecadastro.css">
</head>

<body>
    <section>

        <h1>Listagem de Creches</h1>
        <form action="/usuarioCreate" method="post">
            <fieldset>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Endereço Creche</th>
                            <th scope="col">Bairro</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Deletar</th>

                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {{#each creches}}
                        <tr>
                            <td>{{nome}}</td>
                            <td>{{endereco}}</td>
                            <td>{{bairro}}</td>
                            <td><a id="buttoncadastrar" href="crecheEdit/{{_id}}"> Editar </a></td>
                            <td><a id="buttondeletar" href="crecheDelete/{{_id}}"> Deletar </a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </fieldset>
        </form>
    </section>
</body>