<table border="1px">​
    <tr>​
        <td> Nome </td>​
        <td> Endereço Creche</td>​
        <td> Bairro</td>​
        <td> Editar</td>
        <td> Deletar</td>
    </tr>​
    {{#each creches}}​
    <tr>​
        <td>{{nome}}</td>​
        <td>{{endereco}}</td>​
        <td>{{bairro}}</td>
        <td><a href="crecheEdit/{{_id}}"> Editar </a></td>
        <td><a href="crecheDelete/{{_id}}"> Deletar </a></td>​
    </tr>​
    {{/each}}​
</table>