<form action="/turmaEdit" method="POST">
    <input type="hidden" name="id" value="{{turmas._id}}">
    <p>Creche: </p> <input type="text" name="creche" value="{{turmas.creche}}">
    <p>Turmas: </p> <input type="text" name="turma" value="{{turmas.turma}}">
    <p>Quantidade de Alunos: </p> <input type="number" name="qtalunos" value="{{turmas.qtalunos}}">
    <p>Quantidade de Vagas: </p> <input type="number" name="qtdvagas" value="{{turmas.qtdvagas}}">
    <br><br>
    <input type="submit" value="Editar">
</form>