<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="css/stylecadastro.css">
</head>

<body>
    <section>

        <h1>Listagem de Creches</h1>
        <form action="/usuarioCreate" method="post">
            <fieldset>
                <table border="1px">​
                    <tr>​
                        <td> Nome </td>​
                        <td> RG</td>​
                        <td> Nome do Responsável</td>​
                        <td> Endereço</td>
                        <td> Bairro</td>
                        <td> Turma</td>
                        <td> Editar</td>
                        <td> Deletar</td>
                    </tr>​
                    {{#each criancas}}​
                    <tr>​
                        <td>{{nome}}</td>​
                        <td>{{rg}}</td>​
                        <td>{{nomedopai}}</td>
                        <td>{{endereco}}</td>
                        <td>{{bairro}}</td>
                        <td>{{turma}}</td>
                        <td><a href="criancaEdit/{{_id}}"> Editar </a></td>
                        <td><a href="criancaDelete/{{_id}}"> Deletar </a></td>​
                    </tr>​
                    {{/each}}​
                </table>
            </fieldset>
        </form>
    </section>
</body>